html {
    background: black; color: white;
    --theme: oklch(.5 .5 230);
}
body {
    display: grid; grid-template: 'radar list' 30em 'form list' / 30em min-content;
    gap: 1em;
    margin: 1em auto;
    width: min-content;
}

figure {
    grid-area: radar;
    margin: 0;
    position: relative;

    &::before {
        content: '';
        position: absolute; inset: 0;
        z-index: -1;
        border-radius: 99em;
        background: conic-gradient(
            white 0 calc(90deg + var(--E,0)*1deg),
            silver calc(90deg + var(--E,0)*1deg) calc(180deg + var(--S,0)*1deg),
            white calc(180deg + var(--S,0)*1deg) calc(270deg + var(--W,0)*1deg),
            silver calc(270deg + var(--W,0)*1deg) 0
        );
        transform: rotate(calc(45deg + var(--rotate,0)*-1deg));
    }
    div {
        position: absolute; border-radius: 99em;
        background: var(--theme); opacity: .5;
        transform: rotate(calc(45deg + var(--rotate,0)*-1deg));
    }
    #north {
        inset: calc((var(--north)/-11 + 50)*1%);   
        background: conic-gradient(
            var(--theme) 0 calc(90deg + var(--E,0)*1deg), 
            transparent calc(90deg + var(--E,0)*1deg) calc(270deg + var(--W,0)*1deg),
            var(--theme) calc(270deg + var(--W,0)*1deg) 0
        );     
    }
    #south {
        inset: calc((var(--south)/-11 + 50)*1%);   
        background: conic-gradient(
            transparent 0 calc(90deg + var(--E,0)*1deg), 
            var(--theme) calc(90deg + var(--E,0)*1deg) calc(270deg + var(--W,0)*1deg),
            transparent calc(270deg + var(--W,0)*1deg) 0
        );
    }

    b {
        font-size: 2em;
        --r: 50%;
        position: absolute; transform: translate(-50%, -50%);
        left: calc(50% + var(--r) * cos(var(--t)) / 2); 
        top:  calc(50% + var(--r) * sin(var(--t)) / 2);
    }
}
svg {
    transform: rotate(-90deg);
    overflow: hidden;
    border-radius: 99em;
    --hko-x: 22.302px; --hko-y: 114.174px;

    path {
        stroke: black; stroke-width: .05; 
        fill: none;
        marker-start: url(#point); marker-mid: url(#point); marker-end: url(#point);

        &:not(.showing) {display: none;}
        &:not([id]) {stroke: coral;}
    }
    #point {
        fill: brown;
    }
    circle {
        stroke: var(--theme); stroke-width: .025;
        fill: none;
        cx: var(--hko-x); cy: var(--hko-y);
        r: calc(round(down,(sibling-index() - 1)/2)*.9px);

        &:nth-of-type(1) {r: 0.45;}
    }
    text {
        font-size: .4px;
        text-anchor: middle; dominant-baseline: central;
        x: var(--hko-x); y: calc(var(--hko-y) - sibling-index()/2*.9px);
        transform: rotate(90deg); transform-origin: var(--hko-x) var(--hko-y);
    }
}
form {
    grid-area: form; justify-self: center;
    display: flex; flex-wrap: wrap;

    continuous-knob {
        position: relative;

        &::before {
            line-height: 1.1;
            font-size: .9em;
        }
        output {
            grid-area: 2/1/3/2; align-self: center;
            pointer-events: none;

            &::after {content: '°';}
        }
    }
    br~continuous-knob {margin-top: 1em;}

    fieldset {
        border: none;
    }
    &::after {
        content: attr(title);
        width: 100%; 
        text-align: right;
    }
}
table {
    grid-area: list;

    tr {
        text-transform: uppercase;
        user-select: none;
    
        &::before {content: '⬜';}
        &.showing::before {content: '🔳';}
    }
}