html {
    background: black; color: white;
    --theme: oklch(.5 .5 230);
}
body {
    display: grid; grid-template: 'radar list' 30em 'form list' / 30em min-content;
    gap: 1em;
    margin: 1em auto;
    width: min-content;
}

figure {
    grid-area: radar;
    margin: 0;
    position: sticky; top: 0; z-index: 2;
    pointer-events: none;

    &::before {
        content: '';
        position: absolute; inset: 0;
        z-index: -1;
        border-radius: 99em;
        background: conic-gradient(
            white 0 calc(90deg + var(--E,0)*1deg),
            silver calc(90deg + var(--E,0)*1deg) calc(180deg + var(--S,0)*1deg),
            white calc(180deg + var(--S,0)*1deg) calc(270deg + var(--W,0)*1deg),
            silver calc(270deg + var(--W,0)*1deg) 0
        );
        transform: rotate(calc(45deg + var(--rotate,0)*-1deg));
    }
    div {
        position: absolute; border-radius: 99em;
        background: var(--theme); opacity: .5;
        transform: rotate(calc(45deg + var(--rotate,0)*-1deg));
        background: conic-gradient(
            var(--color1) 0 calc(90deg + var(--E,0)*1deg), 
            var(--color2) calc(90deg + var(--E,0)*1deg) calc(270deg + var(--W,0)*1deg),
            var(--color1) calc(270deg + var(--W,0)*1deg) 0
        );     
    }
    #north {
        inset: calc((var(--north)/-11 + 50)*1%);
        --color1: var(--theme); --color2: transparent;
    }
    #south {
        inset: calc((var(--south)/-11 + 50)*1%);   
        --color2: var(--theme); --color1: transparent;
    }
    b {
        font-size: 2em;
        --r: 50%;
        position: absolute; transform: translate(-50%, -50%);
        left: calc(50% + var(--r) * cos(var(--t)) / 2); 
        top:  calc(50% + var(--r) * sin(var(--t)) / 2);
    }
}
svg {
    transform: rotate(-90deg);
    overflow: hidden;
    border-radius: 99em;
    --hko-x: 22.302px; --hko-y: 114.174px;

    path {
        stroke: black; stroke-width: .05; 
        fill: none;
        marker-start: url(#point); marker-mid: url(#point); marker-end: url(#point);

        &:not(.showing) {display: none;}
        &:not([id]) {stroke: coral;}
    }
    #point {fill: brown;}
    &>circle {
        stroke: var(--theme); stroke-width: .025;
        fill: none;
        cx: var(--hko-x); cy: var(--hko-y);
        r: calc(round(down,(sibling-index() - 1)/2)*.9px);

        &:nth-of-type(1) {r: 0.45;}
    }
    text {
        font-size: .4px;
        text-anchor: middle; dominant-baseline: central;
        x: var(--hko-x); y: calc(var(--hko-y) - sibling-index()/2*.9px);
        transform: rotate(90deg); transform-origin: var(--hko-x) var(--hko-y);
    }
}
form {
    grid-area: form; justify-self: center;
    display: grid; grid-template: 'knobs output' 1.5em 'knobs textarea' / 70% 30%;

    drag-knob {
        margin: 0 .3em;
    
        br~& {margin-top: 1em;}
        &:is([name=north],[name=south])::before {white-space: nowrap;}
    }
    fieldset {grid-area: knobs; border: none;}
    output[name] {grid-area: output;}
    textarea {grid-area: textarea;}
}
table {
    grid-area: list;

    tr {
        text-transform: uppercase;
        user-select: none;
        
        &.changed {color: yellow;}
        &.excluded {color: dodgerblue;}
        &::before {content: '⬜';}
        &.showing::before {content: '🔳';}
    }
    td:last-child {filter: hue-rotate(180deg);}
    td:last-child.error {filter: saturate(0);}
}